<%if @tweets > 0 %>
  <span style="font-size: 7pt; font-weight: bold; line-height:20px"><%=  @tweets == 1 ? 'last most recent' : "#{@tweets} most recent" %> tweet<%= 's' if @tweets > 1 %>  <%= 'from ' + @location if @location %> <%= "for '#{@keyword}' " if @keyword %> pulled at <%= @time %> </span><br/>
  <% @results.each do |r| %>
    <div id="<%= dom_id r %>" style="display:none;">
      <%= link_to image_tag(r.profile_image_url, :size => "40x40"), "http://twitter.com/#{r.from_user}", :title=>r.from_user, :target=>"_new" %> 
      <%= add_url_markup r.text %><br/>
    </div>
  <%end%>
<% else %>
  <span style="font-size: 7pt; font-weight: bold; line-height:20px"> No tweets for <%= @location %></span><br/>
<% end %>
